<!-- <div class="bg-format">
  <div class="row">
    <div class="col d-flex justify-content-end" style="background-color:red">
      <div >exp</div>
    </div>
    <div class="col d-flex justify-content-start"  style="background-color: blueviolet">exp</div>
  </div>
</div> -->

<div class="row"> 
    <div [@rotateflip]="initialStateLeft" class="col">&nbsp;
      <div class="row"> 
          <div class="col d-flex justify-content-center"><h1>{{ projectName }}</h1></div>
      </div> <br/><br/>
      <div class="row"> 
          <div class="col d-flex justify-content-center">{{ projectDesc}}</div>
      </div>
    </div>
    <!-- <div [@rotateflip]="initialStateRight" class="col"> -->
        <div class="col">
        <app-page-header [heading]= "heading"></app-page-header>
        <span>Projects I have worked on:</span>
        <ul>
          <li>Collections Offer Management</li>
          <li>Access Admin Automation</li>
          <li>Apollo Offer Management</li>
          <li>Non Red Brand HSBC</li>
          <li>Open Pegion Cloud</li>
        </ul>
    </div>
</div>
