<!-- <div class="bg-format">
  <div class="row">
    <div class="col d-flex justify-content-end" style="background-color:red">
      <div >exp</div>
    </div>
    <div class="col d-flex justify-content-start"  style="background-color: blueviolet">exp</div>
  </div>
</div> -->

<div class="row"> 
  <div class="col"></div>
  <div class="col">Projects</div>
</div>
<div class="row">
  <div class="col-md-2">eCafe</div>
  <div class="col">
    <div class="row">
        <p>eCafe is a web based application used by HSBC Staff for communicating ,
            giving offers and maintaining logs of the collection activity. eCafe , eCafe_NG
            are two varients differ in technologies.
        </p>
      <div class="col">
          <p>
              eCafe_NG - <br>
              Responsibilities <br>
              ●	Enhancement of existing functionality. <br>
              ●	Bug fix and add new functionality. <br> <br>
              Technologies <br>
              ●	UI is in dojo framework. <br>
              ●	Data gets saved in Mainframes. <br>
              ●	Logics and data communication UI and Mainframe is through JAVA layer. <br>
            </p>
      </div>
      <div class="col">
          <p>
              eCafe - <br>
              Responsibilities <br>
              ●	Enhancement of existing functionality. <br>
              ●	Bug fix and add new functionality. <br> <br>
              Technologies <br>
              ●	UI is in JSP. <br>
              ●	Data gets saved in Mainframes. <br>
              ●	Logics and data communication UI and Mainframe is through JAVA layer. <br>
            </p>
      </div>
    </div>
    
    
    
  </div>
</div>

<div class="row">
  <div class="col-md-2">Access Admin</div>
  <div class="col">
    It's a Web based application used to manage level of access to eCafe_NG
    and its functionalities.
    **Its an initiative taken by me. <br>
    Responsibilities <br>
    ● To design and develop User Interface. <br>
    ● To develop java code and hibernate queries. <br>
    Technologies <br>
    ● UI is in Angular 5. <br>
    ● Backend is in JAVA , SpringBoot , Hibernate. <br>
  </div>
</div>

<div class="row">
    <div class="col-md-2">COMB</div>
    <div class="col">
      <div class="row">
          <p>eCafe is a web based application used by HSBC Staff for communicating ,
              giving offers and maintaining logs of the collection activity. eCafe , eCafe_NG
              are two varients differ in technologies.
          </p>
        <div class="col">
            <p>
                eCafe_NG - <br>
                Responsibilities <br>
                ●	Enhancement of existing functionality. <br>
                ●	Bug fix and add new functionality. <br> <br>
                Technologies <br>
                ●	UI is in dojo framework. <br>
                ●	Data gets saved in Mainframes. <br>
                ●	Logics and data communication UI and Mainframe is through JAVA layer. <br>
              </p>
        </div>
        <div class="col">
            <p>
                eCafe - <br>
                Responsibilities <br>
                ●	Enhancement of existing functionality. <br>
                ●	Bug fix and add new functionality. <br> <br>
                Technologies <br>
                ●	UI is in JSP. <br>
                ●	Data gets saved in Mainframes. <br>
                ●	Logics and data communication UI and Mainframe is through JAVA layer. <br>
              </p>
        </div>
      </div>
    </div>
  </div>
  
