<!-- <nav class="formatting"> -->
    <div class="d-flex justify-content-center formatting fixed-top">
        <div class="p-2  bd-highlight" [routerLink]="['/about']" (click)="about()">About</div>
        <div class="p-2  bd-highlight" [routerLink]="['/experience']" (click)="experience()">Experience</div>
        <div class="p-2  bd-highlight" [routerLink]="['/education']" (click)="education()">Education</div>
        <div class="p-2  bd-highlight" [routerLink]="['/skills']"(click)="skills()">Skills</div>
        <div class="p-2  bd-highlight" [routerLink]="['/contact']" (click)="contact()">contact</div>
    </div>
<!-- </nav> -->
