<!-- <div class="bg-format">
  <div class="row">
    <div class="col " style="background-color:red;height: 70px;">
    </div>
    <div class="col "  style="background-color: blueviolet;height: 90px;">Singhal</div>   
  </div>
  <div>ssss1sss</div>
  <div>ssss2sss</div>
  <div>ssss3sss</div>
  <div>ssss4sss</div>
  <div>ssss5sss</div>
</div> -->


<div>
  About Me <br>
  ______________________
  <p>
    I am Software Developer. I am flexible to learn any technology. I prefer Backend Development.
    While writing any code following points I keep in mind: <br>
    - Readability of the code <br>
    - Follow proper coding conventions <br>
    - Loosely Coupled Code <br>
    - Has no code redundancies <br>
    I am a self learner. New technologies are always my attraction point. <br>
  </p>
  <p>
    Experience - 1.5 years <br>
    Date Of Birth - June 11th 1996 <br>
    Languages - English, Hindi <br>
    Hobbies - Cooking <br>
  </p>
  What I Can Do <br>
  __________________________
 <div class="row">
  <div class="col">Application Development</div>
  <div class="col">Production Support</div>
  <div class="col">Cloud Computing</div>
 </div>
</div>