<div class="row">
  <div [@rotateflip]="initialStateLeft" class="col left-corosol">&nbsp;</div>
  <!-- <div [@rotateflip]="initialStateRight" class="col"> -->
      <div class="col">
      <app-page-header [heading]= "heading"></app-page-header>
      <span>I am Software Developer. I am flexible to learn any technology. I prefer Backend Development.
      While writing any code following points I keep in mind:</span> <br/>
      <ul>
        <li>Readability of the code</li>
        <li>Follow proper coding conventions</li>
        <li>Loosely Coupled Code</li>
        <li>Has no code redundancies</li>
        <li>I am a self learner. New technologies are always my attraction point.</li>
      </ul>
      <p>
          Experience - 1.5 years <br>
          Date Of Birth - June 11th 1996 <br>
          Languages - English, Hindi <br>
          Hobbies - Cooking <br>
        </p>
        What I Can Do <br>
        __________________________
       <div class="row">
        <div class="col">Application Development</div>
        <div class="col">Production Support</div>
        <div class="col">Cloud Computing</div>
       </div>
  </div>
    
  </div>
