<!-- <div class="bg-format">
  <div class="row">
    <div class="col d-flex justify-content-end" style="background-color:red">
      <div >con</div>
    </div>
    <div class="col d-flex justify-content-start"  style="background-color: blueviolet">con</div>
  </div>
</div> -->

<div>
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <div class="row">Phone - 8952094206</div>
      <div class="row">Email - osinghal00@gmail.com</div>
      <div class="row">Address - Mahesh Nagar, Rajasthan</div>
      <div class="row">Social Media - <a>Linkedin</a> , <a>GitHub</a></div>
      <div class="row">
        <!-- <input type="button" value="Download Resume"></input> -->
        <button type="button">Download Resume</button>
      </div>
    </div>
  </div>
</div>