<!-- <div class="bg-format">
  <div class="row">
    <div class="col d-flex justify-content-end" style="background-color:red">
      <div >con</div>
    </div>
    <div class="col d-flex justify-content-start"  style="background-color: blueviolet">con</div>
  </div>
</div> -->

<div>
  <div class="row">
    <div class="col">
      <img src="./../../../../assets/ojasvi_1.jpg" width=100% height=525px alt="ojasvi"/>
    </div>
    <div class="col">
      <!-- <div class="d-flex justify-content-center"><h2>Contact</h2></div> -->
      <app-page-header [heading]= "heading"></app-page-header>
      <div class="d-flex justify-content-center">
          <div class=p-2>Phone</div>
          <div class=p-2>8952094206</div>
      </div>
      <div class="d-flex justify-content-center">
          <div class=p-2>Email</div>
          <div class=p-2>osinghal00@gmail.com</div>
      </div>
      <div class="d-flex justify-content-center">
          <div class=p-2>Address</div>
          <div class=p-2>Mahesh Nagar, Rajasthan</div>
      </div>
      <div class="d-flex justify-content-center">
        <div class=p-2><fa name="linkedin"></fa></div>
        <div class=p-2><fa name="github"></fa></div>
        </div>
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary" (click)="downloadResume()">Download Resume</button>
      </div>
    </div>
  </div>
</div>