.bg-format{
    height: 100%;
    background-color: yellowgreen;
}

h2{
    padding-top: 7%;
}


img {
    vertical-align: middle;
    border-style: none;
    object-fit: cover;
    object-position: 50% 25%;
}