<div class="row"> 
    <div [@rotateflip]="initialStateLeft" class="col">&nbsp;</div>
    <div [@rotateflip]="initialStateRight" class="col">
        <app-page-header [heading]= "heading"></app-page-header>
        <span>Projects I have worked on:</span>
        <div>Jaipur Engineering College And Research Center<br/> 2013-2017 <br/>B.Tech in Computer Science Engineering</div>
        <div>Tilak Public School, Jaipur<br/> 2006-2012 <br/>Secondary (2010) & Sr. Secondary (2012) from CBSE Board</div>
    </div>
</div>
