<!-- <div class="bg-format">
  <div class="row">
    <div class="col d-flex justify-content-end" style="background-color:red">
      <div >Ojaedusvi</div>
    </div>
    <div class="col d-flex justify-content-start"  style="background-color: blueviolet">edu</div>
  </div>
</div> -->


  <h1>Education</h1>
  ________________________ <br/>
  <h3>Jaipur Engineering College And Research Center</h3> 
  2013-2017 <br/>
  <hr/>
  <p>
      B.Tech in Computer Science Engineering
  </p> 


    <h3>Tilak Public School, Jaipur</h3> 
    2006-2012 <br/>
    <hr/>
    <p>
        Secondary (2010) & Sr. Secondary (2012) from CBSE Board
    </p>
